/* css.css */
p.times {font-family: "Times New Roman", Times;}
p, a, ul, ol, table, center  {font-family: Helvetica; font-size:110%; color:black;}
h1 {font-family: Helvetica; font-size:210%; color:black;}
h3 {font-family: Helvetica; font-size:130%;}
code {font-size:130%;}
span.red {color: red;}
span.blue {color: blue;}
span.green {color: green;}
a:link    {color:darkorange; background-color:transparent; text-decoration:none}
a:visited {color:brown; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:green; background-color:transparent; text-decoration:none}
.center {margin: auto;}

#test {color:#a3f5a3;}


ul {font-size:125%;}





/* nav bar */
ul.nav {
    font-size:80%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #e6e6e6;
}


li.nav {
    float: left;
}

li.nav a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li.nav a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}






/* title styles */
#title {
    border: 0px solid yellow;
    width: center;
    height: 100px;
    -webkit-animation: title 15s infinite; 

}
@-webkit-keyframes title {50% {font: 40px bold;}}
