/* css.css */
p.times {font-family: "Times New Roman", Times;}
p, a, ul, ol, table, center  {font-family: Helvetica; font-size:110%; color:white;}
h1 {font-family: Helvetica; font-size:210%;}
h3 {font-family: Helvetica; font-size:130%;}
code {font-size:130%;}
span.red {color: red;}
span.blue {color: blue;}
span.green {color: green;}
a:link    {color:darkorange; background-color:transparent; text-decoration:none}
a:visited {color:white; background-color:transparent; text-decoration:none}
a:hover   {color:red; background-color:transparent; text-decoration:underline}
a:active  {color:green; background-color:transparent; text-decoration:none}
.center {margin: auto;}


#bg {
    height: 2880px; background: linear-gradient(to left, #800000, #ffff00, #a3f5a3);}



/* title styles */
#title {
    border: 0px solid yellow;
    width: center;
    height: 100px;
    -webkit-animation: title 15s infinite; 

}
@-webkit-keyframes title {50% {font: 40px bold;}}
